<nav>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="right fa fa-bars"></i></a>
  <ul class="hide-on-med-and-down">
  {% for node in site.posts reversed %}
    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
  {% endfor %}
  </ul>
  <ul class="side-nav" id="mobile-demo">
  {% for node in site.posts reversed %}
    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
  {% endfor %}
  </ul>
</nav>
